.overall{
    width: 350px;
    max-width: 90;
    margin: 0;
}
.overall .box{
    display: block;
    margin: 0.5em;
}
.overall .box input{
    font-size: 18px;
    padding: 0.5em;
    border: 2px solid seagreen;
}

 .generate{
    width: 400;
    margin: 0.5em;
    align-items: center;
}